.colors {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 30px;
  gap: 20px;
  border-bottom: 1px solid #dddddd35;
  h2 {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  .content {
    .sidebar-label-container {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      margin-bottom: 10px;
      label {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 830px) {
  .colors {
    padding: 10px 0 10px 10px;
  }
}
