.left {
  display: flex;
  flex-direction: column;
  flex: 1;

  .menu-icon {
    display: none; /* Initially hide the menu icon */
    cursor: pointer;
  }

  .filter {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #9c9999;
      border-radius: 4px;
      &:hover {
        background-color: #726c6c;
      }
    }
  }

  &.menu-open {
    .menu-icon {
      display: block; //Display the menu icon when menu is open
    }

    .filter {
      width: 130px; // Width of the sidebar when menu is open
    }
  }
}

@media screen and (max-width: 830px) {
  .left {
    .logo {
      display: none;
    }
    .menu-icon {
      display: block; // Display the menu icon on smaller screens
      margin-top: 10px;
      margin-left: 25px;
      padding-top: 10px;
      padding-bottom: 12px;
    }

    .filter {
      border-top: 1px solid #dddddd35;
      display: none; // Initially hide the sidebar on smaller screens
      width: 0; // Sidebar width
    }

    &.menu-open {
      .filter {
        display: block; // Display the sidebar when menu is open
      }
    }
  }
}
